<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752912671211-vmrll6vm6q3jiiq6nvbt8iiicdvmr438.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752912671211-vmrll6vm6q3jiiq6nvbt8iiicdvmr438</string>
	<key>API_KEY</key>
	<string>AIzaSyBmor3RIWS75GfqYcwK-eQbay51GiZFMXM</string>
	<key>GCM_SENDER_ID</key>
	<string>752912671211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sway4labs.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-d44bf</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-d44bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752912671211:ios:fe78ede3ebe32a9935b9ae</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-d44bf.firebaseio.com</string>
</dict>
</plist>